.table
    padding: 40px

.mat-mdc-header-cel
    color: red !important

.table__acctions
    display: flex

button
    background: none
    border: none
    display: flex
    align-items: center

button::hover
    background: red