<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table">

  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="Usuario">
    <th mat-header-cell *matHeaderCellDef> Usuario </th>
    <td mat-cell *matCellDef="let element"> {{element.user}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="Nombres">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let element"> {{element.firstName}} {{ element.secondName }} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="Apellidos">
    <th mat-header-cell *matHeaderCellDef> Apellidos </th>
    <td mat-cell *matCellDef="let element"> {{element.lastName}} {{element.secondLastName}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="Departamento">
    <th mat-header-cell *matHeaderCellDef> Departamento </th>
    <td mat-cell *matCellDef="let element"> {{element.departament_name}} </td>
  </ng-container>
  <!-- Symbol Column -->
  <ng-container matColumnDef="Cargo">
    <th mat-header-cell *matHeaderCellDef> Cargo </th>
    <td mat-cell *matCellDef="let element"> {{element.position_name}} </td>
  </ng-container>

  <!-- Columna para los íconos de editar y eliminar -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let element">
      <div class="table__acctions">

        <button mat-icon-button (click)="edit(element)">
          <mat-icon aria-hidden="false" aria-label="Example home icon" color="primary" fontIcon="edit"></mat-icon>
          Editar
        </button>
        <button mat-icon-button (click)="delete(element.id)">
          <mat-icon aria-hidden="false" aria-label="Example home icon" color="accent"  fontIcon="delete"></mat-icon>
          Eliminar
        </button>
      </div>

    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>