<div class="header">
  <h5 class="header__h5">Módulo de Administración</h5>
  <h3 class="header__h3">Administración de usuarios</h3>
  <div class="header__content">
    <div class="header__content__selects">
  
    </div>
    <div class="header__button">
      <button class="primary" (click)="openFormUser()">Crear nuevo usuario</button>
    </div>
  </div>

</div>