.header
    padding: 30px
    display: flex
    flex-direction: column

.header__h5
    color: #808b9f

.header__h3
    color: #33425d
    font-weight: 700
    font-size: 20px

.header__content
    display: flex
    justify-content: space-between

button
    padding: 10px 15px 10px 15px
    border: none
    font-size: 12px
    color: #4b4f57
    background: #e1e2e6
    font-weight: 100

