.modal
    background: #f3f4f6
    height: 100%

.header__modal
    border-bottom: 1px solid #d1d4d9
    width: 100%

.heasder__modal__h4
    padding-top: 20px
    padding-left: 15px

.content__modal
    padding-top: 10px
    padding-left: 15px
    padding-right: 15px
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    padding-left: 25px
    padding-right: 25px

.content__modal__field
    display: flex
    flex-direction: column
    max-width: 40%
    flex-basis: 40%
    margin-top: 10px 
    margin-bottom: 10px 

    
.content__modal__field input, .content__modal__field select 
    flex: 1
    width: 100% !important
    padding: 8px
    border: solid 1px #eaebef
    outline: none
    border-radius: 2px

.content__modal__field--select
    color: #c3c7d2

.content__modal__field label
    font-family: 'Roboto', Courier, monospace
    font-size: 12px
    font-weight: 500
    color: #6f7e91

.footer__modal
    border-top:  1px solid #d1d4d9
    padding: 20px
    display: flex
    justify-content: end

input:focus
    border-color: #eaebef
    outline: none

.footer__modal__button
    padding: 5px 15px 8px 15px
    border: none
    font-size: 12px
    color: #e1e2e6
    background: #006bb3
    font-weight: 100

.footer__modal__button--cancel
    padding: 5px 15px 8px 15px
    border: none
    font-size: 12px
    color: #3e4c6f
    background: #e1e2e6
    font-weight: 100