<div class="modal">
    <div class="header__modal">
        <h4 class="heasder__modal__h4">Registro usuario</h4>
    </div>

    <div class="content__modal">
        <input type="hidden" name="id" [(ngModel)]="user.id">
        <div class="content__modal__field ">
            <label for="departament_id">Departamento: </label>
            <select name="departament_id" [(ngModel)]="user.position_id" class="content__modal__field--select">
                <option value="0">Selecciona un departamento</option>
                <option *ngFor="let position of positions" [value]="position.id">
                    {{ position.name }}
                </option>
            </select>
        </div>
        <div class="content__modal__field">
            <label for="position_id">Cargo:</label>
            <select name="position_id" [(ngModel)]="user.departament_id" class="content__modal__field--select">
                <option value="0" >Selecciona un cargo</option>
                <option *ngFor="let departament of departaments" [value]="departament.id">
                    {{ departament.name }}
                </option>
            </select>
        </div>
        <div class="content__modal__field">
            <label for="user">Usuario:</label>
            <input type="text" [(ngModel)]="user.user" name="user">
        </div>
        <div class="content__modal__field">
            <label for="firstName">Primer Nombre: </label>
            <input type="text" [(ngModel)]="user.firstName" name="firstName">
        </div>
        <div class="content__modal__field">
            <label for="secondName">Segundo Nombre: </label>
            <input type="text" [(ngModel)]="user.secondName" name="secondName">
        </div>
        <div class="content__modal__field">
            <label for="lastName">Primer Apellido: </label>
            <input type="text" [(ngModel)]="user.lastName" name="lastName">
        </div>
        <div class="content__modal__field">
            <label for="secondLastName">Segundo Apellido: </label>
            <input type="text" [(ngModel)]="user.secondLastName" name="secondLastName">
        </div>
    </div>

    <div class="footer__modal">
        <div class="foorter__modal__actions">
            <button (click)="createUser()" class="footer__modal__button" *ngIf="!user.id">Registrar</button>
            <button (click)="updateUser()" *ngIf="user.id" class="footer__modal__button">Actualizar</button>
            <button (click)="closeModal()" class="footer__modal__button--cancel">Cancelar</button>
        </div>
    </div>
</div>